/*bruh*/
body{
    font-family: Arial, Helvetica, sans-serif;
}
#wrapper{
    padding-left: 10vw;
    padding-right: 10vw;
}
#title{
    font-size: 2em;
}

.button {
    border-radius: .2em;
    padding: .2em .4em;
    border: 1px solid black;
    user-select: none;
    cursor: pointer;
}
input[type="checkbox"]{
  vertical-align: middle;
}
button{
    border: 1px solid black;
    background-color: white;
    padding: 2px 7px;
}
button:hover{
    background-color: rgb(230,230,230);
}
button:active{
    background-color: rgb(200,200,200);
}
.graph-container {
    display: inline-block;
    position: relative;
    width:100%;
}
.graph-container .graph{
    width:100%;
    box-sizing: border-box;
    overflow: none;
}

.graph-container .controls{
    position: absolute;
    top:0px;
    right:0px;
    display: inline-block;
    background-color: white;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    padding: .4em 1.2em;

}
.graph-container .controls > *:not(:first-child){
    margin-left: 1em;
}
.togglebutton > input{
    display: none;
}
.togglebutton .button{
    background-color: white;
}

.togglebutton > input:checked ~ .button{
    background-color: #b5eaff;
    border: #23b2eb 1px solid;
}

#navbar{
    border-bottom: 1px solid black;
    margin-top: 1em;
    margin-bottom: 1em;
}
#navbar > *{
    border: 1px solid black;

    margin-left:.5em;
    margin-right: .5em;
    margin-bottom: -1px;
    z-index: 1;
    background-color: white;
    padding: .5em 1em;
    min-width: 4em;
    display: inline-block;
    cursor: pointer;

}

body > input{
    display: none;
}
#wrapper > .page {
    display: none;
}

#statsRadio:checked #navbar {
    border: 1px solid red;
}
/*css :(*/
#statsRadio:checked ~ #wrapper #navbar > label[for="statsRadio"],
#drawRadio:checked ~ #wrapper #navbar > label[for="drawRadio"],
#serialRadio:checked ~ #wrapper #navbar > label[for="serialRadio"]{
    border-bottom: 1px solid white;
}

#statsRadio:checked ~ #wrapper #statsPage,
#drawRadio:checked ~ #wrapper #drawPage,
#serialRadio:checked ~ #wrapper #serialPage{
    display:block;
}



#statsPage > div{
    display: grid;
    grid-gap: 1em;

    grid-template-columns: 100%;
}
@media (min-width: 1200px) {
    #statsPage > div{
        grid-template-columns: 50% 50%;
    }
}
@media (min-width: 2000px) {
    #statsPage > div{
        grid-template-columns: 33% 33% 34%;
    }
}
.subtitle{
    font-size: 1.2em;
    border-bottom: 1px solid black;
    margin-bottom: .5em;
}


#serialPage .interface {
    width: 100%;
    border: 1px solid black;
    display: grid;
    grid-template-rows: auto 2.3em;
    height: calc(90vh - 8em);
    resize: vertical;
    overflow: auto;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: .8;
    position: relative;
}
#serialPage .history-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    display: table;
    grid-column: 1/1;
}
#serialPage .history {
    padding: .5em .6em;
    overflow: auto;
    line-height: 1.5em;
    white-space: pre-wrap;
    position: relative;
    display: table-cell;
    grid-column: 1/1;
}
#serialPage .input {
    border-top: 1px solid black;
    overflow: none;
}
#serial-inputfield{
    width:100%;
    height: 100%;
    box-sizing: border-box;
    padding-left: .5em;
    font-size: .95em;
    font-family: inherit;
}
#serial-arrowpad{
    border: 1px solid black;
    width:3em;
    height:3em;
    position: absolute;
    bottom: calc(.5em + calc(2.5em + 1px)); /* :| */
    right: 1.5em;
    z-index: 2;

    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 33% 33% 33%;
    background-color: white;
}
#serial-arrowpad > *{
    background-color: white;
    text-align: center;
    line-height: 100%;
}
#serial-arrowpad-up{
    grid-column: 2/2;
    grid-row: 1/1;
}
#serial-arrowpad-down{
    grid-column: 2/2;
    grid-row: 3/3;
}
#serial-arrowpad-left{
    grid-column: 1/1;
    grid-row: 2/2;
}
#serial-arrowpad-right{
    grid-column: 3/3;
    grid-row: 2/2;
}
#serial-arrowpad-center{
    grid-column: 2/2;
    grid-row: 2/2;
}
